*{
    margin: 0;
    padding: 0;
    font-family: 'lato',sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}
.inner{
    max-width: 1200px;
    padding: 5%;
}

/*header starts */
.wrapper{
    background-image: url("../images/banner.jpg");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 5%;
}
.wrapper::before{
    content:"";
    background-color:#484857;
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0;
    opacity: 0.8;
}
#my-navigation{
    background: none;
    border: 0;
    margin-bottom: 2rem;
}
#my-navigation a{
    color: #fff;
    font-size: 1.1rem;
}
#my-navigation a:hover{
    color: #6cc091;
}
#my-navigation .navbar-toggle .icon-bar{
    color: #fff;
}
.intro{
    border-top: 2px solid #71717d;
}
.intro h1{
    font-size: 3rem;
    margin-top: 9rem;
    margin-bottom: 4rem;
}
.box .fa{
    font-size: 1.5rem;
    color: #6cc091;
}
.box h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.box p{
    font-size: 0.8;
    font-weight: 300;
}
.green-btn{
    width: 140px;
    height: 35px;
    border-radius: 50px;
    background: none;
    border: 2px solid #6cc091;
    color: #6cc091;
    font-size: 0.8rem;
    font-family: 'lato',sans-serif;
    margin-top: 2rem;
}
/*header ends */
/* two column starts here */
.my-column img{
    width: 50;
    margin: 0 auto;
    
}
.my-column img:hover{
    border-radius: 0;

}
.my-column h3{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
}
.my-column p{
    width: 70%;
    margin: 0 auto;
    color: #9a9a9a;
}
.my-column button{
    width: 140px;
    height: 35px;
    border-radius: 50px;
    background: none;
    border: 2px solid #6cc091;
    color: #6cc091;
    font-size: 0.8rem;
    font-family: 'lato',sans-serif;
    margin-top: 2rem;
}
/* two column ends here */

/* form area starts here */
.green{
    width: 100%;
    background-color: #6cc091;
    color: #fff;
}
.green h3{
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
.myform{
    background: none;
    border: 1px solid #fff;
}
.green label{
    font-weight: 500;
}
.myform::placeholder{
    color: #fff;
}
.bottom button{
    width: 140px;
    height: 35px;
    border-radius: 50px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'lato',sans-serif;
    margin: 1rem;
}
.bottom p{
    font-size: 0.8rem;
    margin-top: 2rem;
}
/* media query starts here */
@media only screen and (max-width: 768px){
   .wrapper{
       height: 100vh;
   }
   .wrapper::before{
       height: 100vh;
   }
    .intro h1{
        margin-top: 2rem;
    }
    .box{
        margin: 2rem 0;
    }
    .intro h1{
        margin-bottom: 1rem;
    }
    .green-btn{
        margin-top: 1rem;
    }
    .my-column{
        margin: 2rem 0;
    }
}
@media only screen and (max-width:992px){
    .my-column{
        margin: 2rem 0;
    }
}

@media only screen and (max-width:600px){
    .intro h1{
        font-size: 1.7rem;
    }
    .box{
        margin: 1rem 0;
    }
    .box h3{
        font-size: 1rem;
    }
    .box .fa{
        font-size: 1rem;
    }
}